a {
    transition: all .5s ease-in-out;
}

a:hover {
    scale: 1.2;
    text-decoration: underline;
    color: #FFDFA8;
}
html {
    scroll-behavior: smooth;
}

.lightTheme{
    color:black;
    background: white;
    p{
        color:#556070;
    };
    .contact-stuff{
        background-color:rgb(187, 208, 222);
    }
}



.darkTheme{
    color:black;
    background: rgb(35, 33, 33);
    p{
        color:rgb(180, 184, 195);
    };

    h3, h1, h2, h4{
        color:white;
    };
    .contact-stuff{
        background-color:#252d39
    }
}
